/* normaliaze css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --quaternary-color: #ddd;
  --ternary-color: #efefef;
  --secondary-color0: #fafafa;
  --primary-color: #03A9F4;
  --border-radius: 7px;
  --text-radius: 50em;
}


body {
  font-family: 'Open Sans Condensed';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background-image: linear-gradient(to right bottom, rgba(0, 188, 212, 0.85), #2196F3);
  margin: 0;
  height: 100%;
  text-rendering: optimizelegibility;
}

body.compact .wrapper {
  transform: translateY(-60px) scale(0.9);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  transform-origin: center bottom 0px;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.5);
  background: var(--secondary-color0);

}


@media (max-width: 728px) {
  .body {}
}